body{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
*{
    font-family: sans-serif;
}
.contenedor{
    width: 100%;
    margin: auto;
}
img{
    width: 100%;
}
.header__contenido{
    position: relative;
    z-index: 100;
}
.logo{
    font-weight: 900;
    font-size: 30px;
    margin: 10px;
    font-family: Cambria;
    color: snow;

}
.banner{
    height: 50vh;
    position: relative;
    margin-top: -60px;
    background: url('../img/pexels-photo-2004161.jpeg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

}
.banner__descripcion{
    position: absolute; /*indico que se posicione dentro del .banner (ya que el mismo tiene una position: relative)*/
    text-align: center;
    color: snow;
    transform: translateX(-50%) translateY(-50%);
    top: 50%;
    left: 50%;
    width: 100%; /*que ocupe todo el ancho*/
    font-size: 15px;
    margin-top: 25px;
}
.button__banner{
    background: #9cc76d;
    border: none;
    padding: 12px;
    color: #fff;
    font-size: 20px;

}
.button__banner:hover{
    border: 2px solid #9cc76d;
    background: none;
}
.galeria h1{
    font-size: 20px;
    text-align: center;

}
.galeria{
    margin: 20px;

}
.team h2{
    font-size: 40px;
    text-align: center;
}
.team{
    background: #f6f6f6;
    padding: 30px;
}
.team__columna img{
    border-radius: 50%;
}
.team p{
    text-align: justify;
}
.info h1{
    color: #9cc76d;
    font-size: 30px;
}
.team{
    display: grid;
    grid-gap:30px;
}
.info{
    text-align: center;
}
.info__columna{
    margin: 20px;
}
.info .contenedor{
    display: grid;
    grid-gap: 10px;
}

.banner2 {
    height: 50vh;
    color: #f6f6f6;
    position: relative;
    background: url('../img/pexels-photo-2004161.jpeg');
    background-size: cover;
    background-position: left;
    background-attachment: fixed;
}
.banner2 h1{
    font-size: 28px;
    text-align: center;
}

.banner2__descripcion {
    position: absolute; /*quiero que este dentro del banner*/
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    text-align: center;
}
