body{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
*{
    font-family: sans-serif;
}
.contenedor{
    width: 100%;
    margin: auto;
}
img{
    width: 100%;
}
.header__contenido{
    position: relative;
    z-index: 100;
}
.logo{
    font-weight: 900;
    font-size: 30px;
    margin: 10px;
    font-family: Cambria;
    /*color: snow;*/ 
}
.banner{
    height: 50vh;
    position: relative;
    background: url('../img');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.banner__descripcion{
    position: absolute; /*indico que se posicione dentro del .banner (ya que el mismo tiene una position: relative)*/
    text-align: center;
    color: snow;
    transform: translateX(-50%) translateY(-50%);
    top: 50%;
    left: 50%;
    width: 100%; /*que ocupe todo el ancho*/
    font-size: 15px;
    margin-top: 25px;
}
.button__banner{
    background: #9cc76d;
    border: none;
    padding: 12px;
    color: #fff;
    font-size: 20px;
}
.button__banner:hover{
    border: 2px solid #9cc76d;
    background: none;
}