@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap');
/*  font-family: 'Cairo', sans-serif; */


body{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
*{
    font-family: 'Cairo', sans-serif; 
}
/*
a:link, a:visited, a:active {
    text-decoration:none;
}*/

.contenedor{
    width: 100%;
    margin: auto;
}


/* --------HEADER / NAV--------------- */

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    padding: 40px 100px;
    z-index: 1000;
    box-sizing: border-box;
}
header.sticky,
header.sticky{
    padding: 5px 100px;
    background: rgba(255, 255, 255, 0.548);
}
.container {
    width: 100%;
}

header .logo{
    position: relative;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.219)/*#c8ff00*/;
    text-decoration: none;
    font-size: 25px;
    font-family: 'Patua One', cursive;
    letter-spacing: 2px;
    transition: 1.5s;
}

nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0px;
    box-sizing: border-box;
}

.nav-ul{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    list-style-type: none;
    box-sizing: border-box;
}


.nav-ul li a {
    display: inline-block;
    color: rgba(255, 255, 255, 0);
    font-family: 'raleway','sans-serif';
    padding: 10px 20px;
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: 500px;
    transition: 0.6s;
    cursor: pointer;
}

.hamburguer {
    background-color: transparent;
    border: 0;
    color: #fff;
    font-size: 20px;
    cursor: pointer;

}

.hamburguer:focus {
    outline: none;

}

header.sticky ul li a {
    color: #000;
}

img{
    width: 100%;
}

/*-------ENCABEZADO PRINCIPAL----------------*/

.banner{
    height: 110vh;
    width: 100%;
    position: relative;
    margin-top: -69px;
    background: url('/img/pexels-photo-2004161.jpeg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  

}

.banner__descripcion{
    position: absolute; /*indico que se posicione dentro del .banner (ya que el mismo tiene una position: relative)*/
    text-align: center;
    color: snow;
    transform: translateX(-50%) translateY(-50%);
    top: 50%;
    left: 50%;
    width: 100%; /*que ocupe todo el ancho*/
    font-size: 15px;
    margin-top: 25px;
}

.button__banner{
    background: #9cc76d;
    border: none;
    padding: 12px;
    color: #fff;
    font-size: 20px;
    outline: none;

}

.button__banner:hover{
    border: 2px solid #9cc76d;
    background: none;
    padding: 10px; /*le pongo para evitar desplazamiento del contenedor*/
}



/*------------GALERIA----------------*/

.galeria h1{
    font-size: 60px;
    margin-top: 0;
    margin-bottom: 125px;
    text-align: center;
    color: #f6f6f6;
    padding-top: 150px;
    font-family: 'Patua One', cursive;
    font-weight: 400;

}

.galeria{
    margin: 0px;
    background-color: #0e0f0f;

}


/*--------------POST & NEWS ----------------*/
.news h2{
    font-size: 40px;
    text-align: center;
}

.news{
    background: #ffe815;

    padding: 50px;
}

.news__columna img{
    border-radius: 60%;
    
   
    
}

.news p{
    text-align: center;
    margin-top: 40px;
}

.news__grid{
    display: grid;
    grid-gap: 30px;
    margin-top: 50px;
    margin-bottom: 50px;
}

/*---------STADISTICS---------*/
.info h1{
    color: #9cc76d;
    font-size: 30px;
}

.news{
    display: grid;
    grid-gap:30px;
}

.info{
    text-align: center;
}

.info__columna{
    margin: 10px;
}

.info .contenedor{
    display: grid;
    grid-gap: 10px;
}



/*--------------SPONSOR--------------*/
.contenedor2{
    background-color: rgba(14, 10, 26, 0.671);
    width: 50%;
    margin: auto;
    height: 300px;
    border-radius: 10px;
}

.banner2 {
    height: 50vh;
    position: relative;
    background: url('/img/h310-a-pro-cooling-3840.jpg');
    background-size: cover;
    background-position: left;
    background-attachment: fixed;
}

.banner2 h1{
    font-size: 28px;
    text-align: center;
    color: #ffe815;
}

.banner2 p {
    color: rgb(255, 255, 255);
}

.banner2__descripcion {
    position: absolute; /*quiero que este dentro del banner*/
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    text-align: center;
}



/*-----------ABOUT-----------------------*/

.about{
    background: #f6f6f6;
    padding: 30px;
    
}

.about h2{
    text-align: center;
}

.about p{
    text-align: center;
    position: relative;
}



/*-----------------FOOTER----------------*/
.footer{
    background: black;
    color: darkgray;
    text-align: center;
    padding: 0px;
    box-sizing: border-box;
    
}

#navFoot > a{
    text-decoration: none;
    color: #fff;
    padding: 0px 25px;

}










/*---------MEDIA-----------------------*/

@media screen and (max-width:767px) {
    .nav-ul {
        display: inline-block;
        flex-direction: column;
        width: 100%;
        margin: 0px;
        padding: -5px;

    }

    .nav-ul.show {
        display: flex;
    }
    .hamburguer {
        display: block;
    }
    .banner2 h2{
        font-size: auto;
        color: blanchedalmond;
        font-weight: 400;
    }


}

@media(min-width:520px){
   .banner h1{
        font-size: 30px;
    }
    .header__contenido{
        display: grid;
        grid-template-columns: 1fr 1fr
    }
    .grid {
        display: grid;
        grid-gap: 10px;
        grid-template-columns: repeat(2,1fr);
    }
    .news .news__grid {
        grid-template-columns: repeat(2,1fr);
    }
    .info .contenedor{
        grid-template-columns: repeat(3,150px);
        justify-content: space-around; /* se estira para completar el espacio abarcando todo el ancho*/
    }
    .banner2 h2{
        font-size: 50px;
        color: blanchedalmond;
    }
    .banner2 p{
        font-size: 25px;
    }


}
@media(min-width:720px){
    .news .news__grid {
        grid-template-columns: repeat(2,1fr);
        justify-content: space-around;
    }



}    
@media(min-width:1024px){
    .contenedor {
        width: 1000px;
        grid-template-columns: repeat(2,480px);
        justify-content: space-around;
    }
    .banner h1{
        font-size: 45px;
    }
    .grid{
        grid-template-columns: repeat(auto-fit,minmax(225px,1fr));
        grid-auto-flow: dense; /*la prop dense sirve para que tape baches del grid*/
        grid-auto-rows: 160px; /*le damos una medida para corregir el alineamiento de las img*/
    }
    .big{
        grid-column: span 2;
        grid-row: span 2;
    }
    .banner2 p{
        font-size: 30px;

    }


}